section.time-counters {
  padding: 20px 0;
  background: linear-gradient(
    90deg,
    rgb(233, 8, 142) -1.47%,
    rgb(124, 58, 237) 100%
  );
  color: #fff;
  .inr-time-counter {
    width: 100%;
    p {
      font-size: 18px;
      margin: 0 auto 20px;
      text-align: center;
    }
    h3 {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 10px;
        color: #fff !important;
        margin-bottom: 0;
      span {
        display: flex;
        width: fit-content;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        color: #fff !important;
        background: linear-gradient(90deg, #fff 1.91%, #fff 97.13%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        font-size: 14px;
        strong {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }
    img{
        width: 110px;
        height: auto;
        margin: 0px auto 10px;   
    }
  }
}
