.tab-content {
  // padding-right: 75px;
  h5 {
    font-size: 20px;
    color: #000000;
    font-family: "Geliat-Semibold";
  }
  .content-tab-left {
    padding-right: 75px;
    h2 {
      font-size: 48px;
      line-height: 58px;
      color: #000000;
      font-family: "Geliat-Semibold";
      letter-spacing: -2px;
      span {
        font-size: 48px;
        line-height: 58px;
        text-transform: inherit;
        font-family: "Geliat-Semibold";
        
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      font-family: "Geliat-Regular";
      margin-bottom: 40px;
    }
    a.learnmore {
      font-size: 16px;
      line-height: 22px;
      text-decoration: none;
      font-family: "Geliat-Medium";
      color: #0F091B;
      border: 1px solid #5E1DDC;
      border-radius: 12px;
      padding: 11px 16px;
      display: inline-block;
      svg {
        margin-left: 12px;
      }
      &:hover {
        background-color: #5E1DDC;
        color: #fff;
        svg, path {
          fill: #000;
          color: #000;
        }
      }
    }
  }
  .fullImage {
    img {
      border-radius: 12px;
    }
  }
}

@media only screen and (max-width: 480px) {

  section.tabs_section 
 
  {
    .row.align-items-center{
      gap:40px;
      .tab-down
    {
      order:1;
    }
    .tab-up
    {
      order:0;
    }
  
    }
  }
ul.nav.nav-tabs
{
  border-bottom: none;
}
  
}
