.integrationTab {
  padding: 0 70px;
  h1 {
      font-size: 30px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 25px;
      color: #000;
      font-family: "Geliat-Semibold";
  }
  .appsWrapper {
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 30px;
    .singleAppOuter {
      position: relative;
      &:last-child {
        .singleApp {
          margin-bottom: 0px;
        }
      }
      .singleApp {
        border: 1px solid #E5E7EB;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        padding: 23px 30px;
        align-items: center;
        margin-bottom: 20px;
        width: calc(100% - 30px);
        .iconWrap {
          display: flex;
          gap: 15px;
          align-items: center;
          h5 {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(0,0,0,0.39);
            margin-bottom: 0;
            font-family: "Geliat-Regular";
          }
        }
        h5 {
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(0,0,0,0.39);
          margin-bottom: 0;
          font-family: "Geliat-Regular";
        }
        
      }
      button.infoBtn {
        border: none;
        background: transparent;
        padding: 0;
        position: absolute;
        right: 0;
        top: 25px;
      }
    }
  }
}