footer.footer {
    background-image: url('../../assets/images/footerBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 65px 0 45px 0;
    .selfsite {
        width: calc(100% - 60px);
        margin: auto;
        text-align: center;
        border-radius: 20px;
        margin-bottom: 80px;
        .selfsite_inner {
            color: #fff;
            h2 {
                font-size: 48px;
                line-height: 60px;
                font-family: "Geliat-Medium";
            }
            p {
                font-size: 20px;
                line-height: 28px;
                font-family: "Geliat-Regular";
                margin: 35px 0;
            }
            button.btnprimary.btn.btn-primary {
                padding: 18px 38px;
                font-size: 16px;
                line-height: 18px;
                font-family: "Geliat-Medium";
                &:hover {
                    background: #5E1DDC;
                    border-color: #5E1DDC;
                }
            }   
        }
    }
    .logo_wrapper {
        margin-bottom: 20px;
        img {
            max-width: 260px;
            height: auto;
        }
    }
    .logoText {
        a {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            color: #0D6EFD;
            font-family: "Geliat-Regular";
        }
    }

    .footerMenu {
        ul.mainMenu {
            margin: 32px 0 22px 0;
        }
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            margin-bottom: 20px;
            li {
                padding: 10px 0;
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: "Geliat-Regular";
                    transition: 0.5s all ease-in-out;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    
}

.copyright {
        
    p {
        color: #fff;
        margin-bottom: 0;
        font-size: 14px;
        font-family: "Geliat-Regular";
    
}
}

@media only screen and (max-width: 1199px) {
    footer.footer {
        padding: 50px 0;
      }
    .logo_wrapper {
        a {
            img {
                max-width: 200px;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .logo_wrapper {
        a {
            img {
                max-width: 170px;
            }
        }
    }
    footer.footer  {
        .selfsite {
            .selfsite_inner {
                p {
                    font-size: 14px;
                    line-height: 20px;
                    br {
                        display: none;
                    }
                }
            }
        }
        .footerMenu {
            ul {
                margin-bottom: 0px;
                gap: 10px;
                justify-content: center;
                flex-wrap: wrap;
            }
            ul.socialMenu {
                flex-direction: row;
            }
        }
        .copyright {
            margin: 40px 0;
        }
    }
}
@media only screen and (max-width: 767px) {
    footer.footer {
        // padding-top: 0;
        .selfsite {
            .selfsite_inner {
                button.btnprimary.btn.btn-primary {
                    padding: 14px 20px;
                }
            }
        }
        .container.trySelf {
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
            .row {
                margin-left: 0px;
                margin-right: 0px;
                .col-sm-12 {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .selfsite {
                width: 100%;
                border-radius: 0px;
                padding: 15px;
                margin-bottom: 0px;
                .selfsite_inner {
                    h2 {
                        font-size: 22px;
                        line-height: 30px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        margin: 20px 0;
                        br {
                            display: none;
                        }
                    }
                    button.whitebtn.btn.btn-primary {
                        max-width: 220px;
                        font-size: 17px;
                        line-height: 28px;
                        padding: 9px;
                    }
                }
            }
        }
        .footerMenus {
            margin-top: 45px;
        }
        .footerMenu {
            margin-top: 25px;
        }
        .footerMenu {
            ul {
                margin-bottom: 0px;
                li {
                    padding: 6px 0;
                }
            }
        }
        .copyright {
            margin-top: 40px;
            margin-bottom: 0px;
        }
    }
}