footer.footer {
    background-image: url('../../assets/images/footerBg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 125px 0 45px 0;
    .selfsite {
        width: calc(100% - 60px);
        background: linear-gradient(90deg, #E9088E 1.91%, #7C3AED 97.13%);
        margin: auto;
        text-align: center;
        border-radius: 20px;
        padding: 60px;
        margin-bottom: 110px;
        .selfsite_inner {
            color: #fff;
            h2 {
                font-size: 48px;
                line-height: 60px;
                font-family: 'PlusJakartaSans-ExtraBold';
                margin-bottom: 0;
            }
            p {
                font-size: 20px;
                line-height: 28px;
                font-family: 'Inter-Medium';
                margin: 35px 0;
            }
            button.whitebtn.btn.btn-primary {
                background-color: #fff;
                border-color: #fff;
                color: #a762e4;
                border-radius: 12px;
                max-width: 270px;
                font-size: 20px;
                line-height: 28px;
                width: 100%;
                font-family: 'PlusJakartaSans-SemiBold';
                padding: 16px 10px;
                img {
                    margin-left: 10px;
                }
            }    
        }
    }
    .logo_wrapper {
        margin-bottom: 20px;
        img {
            max-width: 260px;
            height: auto;
        }
    }

    .footerMenu {
        ul {
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;
            margin-bottom: 20px;
            li {
                padding: 10px 0;
                a {
                    color: #000000;
                    text-decoration: none;
                    font-size: 14px;
                    font-family: 'Inter-Medium';
                }
            }
        }
    }
    .copyright {
        p {
            color: #000000;
            margin-bottom: 0;
            font-size: 14px;
            font-family: 'Inter-Medium';
        }
    }
}

@media only screen and (max-width: 1199px) {
    .logo_wrapper {
        a {
            img {
                max-width: 200px;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .logo_wrapper {
        a {
            img {
                max-width: 170px;
            }
        }
    }
    footer.footer  {
        .selfsite {
            .selfsite_inner {
                p {
                    font-size: 14px;
                    line-height: 20px;
                    br {
                        display: none;
                    }
                }
            }
        }
        .footerMenu {
            ul {
                margin-bottom: 0px;
                gap: 10px;
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
            }
            ul.socialMenu {
                flex-direction: row;
            }
        }
        .copyright {
            margin: 40px 0;
            p {
                text-align: left;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    footer.footer {
        padding-top: 0;
        .logo_wrapper {
            text-align: left;
            margin-bottom: 0px;
            // a {
            //     img {
            //         max-width: fit-content;
            //     }
            // }
        }
        .container.trySelf {
            padding-left: 0;
            padding-right: 0;
            max-width: 100%;
            .row {
                margin-left: 0px;
                margin-right: 0px;
                .col-sm-12 {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
            .selfsite {
                width: 100%;
                border-radius: 0px;
                padding: 40px;
                margin-bottom: 0px;
                .selfsite_inner {
                    h2 {
                        font-size: 22px;
                        line-height: 30px;
                    }
                    p {
                        font-size: 16px;
                        line-height: 24px;
                        margin: 20px 0;
                        br {
                            display: none;
                        }
                    }
                    button.whitebtn.btn.btn-primary {
                        max-width: 220px;
                        font-size: 17px;
                        line-height: 28px;
                        padding: 9px;
                    }
                }
            }
        }
        .footerMenus {
            margin-top: 45px;
        }
        .footerMenu {
            margin-top: 25px;
        }
        .footerMenu {
            ul {
                margin-bottom: 0px;
                li {
                    padding: 6px 0;
                }
            }
        }
        .copyright {
            margin-top: 40px;
            margin-bottom: 0px;
        }
    }
}