.notificationsTab {
    .content-wrapper {
        background-image: url('../../../assets/images/bgblurImg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 50px 0;
        position: relative;
        min-height: 300px;
        .modal-content {
            position: initial;
            .centerContent {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: 420px;
                text-align: center;
                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: center;
                }
            }
        }

    }
    .btnprimary {
        padding: 10px 25px;
        border: none;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        letter-spacing: 0em;
        text-align: center;
    }
}