.yearly_wrapper {
  .free_block {
    h2 {
      padding: 80px 0;
    }
  }
  .price_block {
    box-shadow: 0 0 16px 0px rgba(50, 50, 71, 0.1);
    border-radius: 15px;
    padding: 32px 32px 80px 32px;
    background: #fff;

    h2 {
      font-size: 68px;
      color: #000;
      font-family: "Geliat-Semibold";
    }
    ul {
      padding: 0;
      list-style: none;
      margin-bottom: 0px;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid #e9ecee;
      text-transform: capitalize;
      color: #777777;
      font-family: "Geliat-Medium";
      font-size: 16px;
      img {
        margin-right: 10px;
      }
    }
    button.btnget {
      padding: 10px;
      font-size: 16px;
      margin-top: 50px;
      font-family: "Geliat-Semibold";
      &:hover {
        opacity: 1;
      }
    }
  }
  .price_block.starter_block {
    padding-top: 84px;
    padding-bottom: 110px;
    position: relative;
    z-index: 1;
    h4 {
      font-size: 25px;
      font-family: "Geliat-Semibold";
      margin-bottom: 25px;
    }
    .priceBox {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 20px;
      span {
        font-size: 32px;
        line-height: 32px;
        font-family: "Geliat-Semibold";
      }
      strong {
        font-size: 72px;
        line-height: 72px;
        font-family: "Geliat-Extrabold";
        color: #000;
      }
    }
    p {
      font-size: 24px;
      text-transform: uppercase;
      font-family: "Geliat-Medium";
    }
    ul {
      margin-top: 40px;
    }
  }
  .price_block.professional_block {
    padding-top: 55px;
    padding-bottom: 80px;
    h4 {
      font-size: 25px;
      font-family: "Geliat-Semibold";
      margin-bottom: 25px;
    }
    .priceBox {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      margin-bottom: 20px;
      span {
        font-size: 32px;
        line-height: 32px;
        font-family: "Geliat-Semibold";
      }
      strong {
        font-size: 72px;
        line-height: 72px;
        font-family: "Geliat-Extrabold";
        color: #000;
      }
    }
    p {
      font-size: 24px;
      text-transform: uppercase;
      font-family: "Geliat-Medium";
    }
    ul {
      margin-top: 40px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .yearly_wrapper {
    .free_block {
      h2 {
        padding: 35px 0;
        margin-bottom: 0px;
      }
    }
    .price_block {
      padding: 20px 15px 80px 15px;
      h2 {
        font-size: 42px;
      }
    }
    .price_block.starter_block {
      padding-top: 40px;
      padding-bottom: 100px;
      h4 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .priceBox {
        margin-bottom: 0px;
        strong {
          font-size: 52px;
          line-height: 60px;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
      }
      ul {
        margin-top: 0;
      }
    }
    .price_block.professional_block {
      padding-top: 30px;
      padding-bottom: 80px;
      h4 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      .priceBox {
        margin-bottom: 0px;
        strong {
          font-size: 52px;
          line-height: 60px;
        }
      }
      p {
        font-size: 16px;
        margin-bottom: 0;
      }
      ul {
        margin-top: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .yearly_wrapper {
    .price_block {
      li {
        font-size: 12px;
      }
    }
    .price_block.professional_block,
    .price_block.starter_block,
    .price_block {
      h4 {
        font-size: 20px;
        margin-bottom: 0px;
      }
      .priceBox {
        span {
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}
